.twitter-share-button + span.ext{
	display: none;
}
.twitter-share-button.twitter-count-horizontal{
  width: 80px !important;
}

.gplus{
  display: inline;
}
.gplus div#___plusone_0{
  width: 64px !important;
}

.weibo{
  display: inline;
}
